<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mybrary</title>
</head>
<body>
    Before (in layout.ejs file)
    <br>
    <%- body %> <!-- where the body of each page will be placed -->
    <br>
    After (in layout.ejs file)
</body>
</html>