<h2>Edit Author</h2>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
    <%- include("_form_fields") %>
    <button type="submit">Update</button>
    <a href="/authors/<%= author.id %>">Cancel</a>
</form>
